.axis {
  font-size: 15px;
  shape-rendering: geometricPrecision;
}

.tooltip {
  text-align: center;
  border: 1px solid #ccc;
  position: absolute;
  padding: 10px;
  background-color: #fff;
  display: none;
}

.tooltip .metric-date {
  text-decoration: underline;
}

.tooltip-line {
  position: absolute;
  display: block;
  width: 2px;
  height: 300px;
  background-color: red;
}

body {
  margin: 0;
}
